.container1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
 
}

.logo img {
  max-width: 100%;
  height: auto;
  /* Adjust max-width as needed */
}

.nav-links {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.nav-links li {
  margin-right: 20px;
}

.nav-links li:last-child {
  margin-right: 0;
}

.nav-links a {
  color: #fff;
  text-decoration: none;
}

/* Media query for responsiveness */
@media screen and (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .nav-links {
    margin-top: 20px;
  }

  .nav-links li {
    margin-right: 0;
    margin-bottom: 10px;
  }
}


@media screen and (max-width: 768px) {
  .hide1 {
    display: none;
  }
}